/* RESET */
* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: initial;
}

/* BASIC */

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  --dark-blue: hsl(212, 21%, 14%);
  --grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-size: 15px;
}

/* STYLE */

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
  min-height: 100vh;
}

.card {
  background-color: var(--white);
  display: flex;
  border-radius: 5px;
  width: 600px;
  height: 450px;
}

.card__discount {
  text-decoration: line-through;
  color: var(--grayish-blue);
  font-size: 15px;
  font-family: 'Montserrat';
}

.card__discounted {
  color: var(--dark-cyan);
  font-family: 'Fraunces';
  font-size: 30px;
}

.card__price {
  display: flex;
  align-items: center;
  gap: 35px;
}

.card__add-to-cart {
  background-color: var(--dark-cyan);
  color: var(--white);
  display: flex;
  width: 100%;
  border-radius: 5px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: 'Montserrat';
  font-weight: 700;
}
.card__title {
  font-size: 35px;
  line-height: 32px;
  font-family: 'Fraunces';
  color: var(--dark-blue);
}

.card__info {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--grayish-blue);
}

.card__type {
  font-family: 'Montserrat';
  font: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 13px;
  color: var(--grayish-blue);
}

.card__img--mobile {
  display: none;
}

.card__add-to-cart:hover,
:focus {
  background-color: hsl(158, 36%, 15%);
}

.card__content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.card__img {
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.card__img--desktop {
  width: 300px;
}

/* MEDIA QUERIES */
@media (max-width: 425px) {
  .card {
    width: 94vw;
    height: 600px;
    flex-direction: column;
  }

  .card__img--desktop {
    display: none;
  }

  .card__img--mobile {
    display: initial;
  }

  .card__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .card__price {
    gap: 20px;
  }

  .card__img {
    border-radius: 5px 5px 0 0;
  }
}
